<a href="https://colab.research.google.com/github/blue9kamrul/4months_roadmap_SE/blob/main/week1/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 16 week roadmap

In [2]:
arr = [10, 20, 30, 40]
print(arr[0])       # O(1)
arr.append(50)      # O(1) average
arr.remove(20)      # O(n)

10

In [1]:
s = "hello"
print(s[0])        # h
print(s[::-1])     # reverse
print("ell" in s)

h
olleh
True

In [3]:
for i in range(5):
    print(i)

x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4
0
1
2
3
4

In [4]:
def add(a, b):
    return a + b

print(add(2, 3))  # 5

5

In [6]:
# O(1) example
def get_first(arr):
    return arr[0]

# O(n) example
def find_sum(arr):
    total = 0
    for x in arr:
        total += x
    return total

# O(n^2) example
def all_pairs(arr):
    for i in arr:
        for j in arr:
            print(i, j)